*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    inline-size: 1px;
    block-size: 1px;
    clip-path: inset(50%);
}

.button {
    font-family: 'Fira Sans Condensed', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    height: 34px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background-color: #545050;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #ffffff;
    outline-offset: 1px;
}

.more-button {
    width: 399px;
}

.page {
    font-family: 'Fira Sans Condensed', Arial, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #ffffff;
    background-color: #1b1919;
    inline-size: 1200px;
    block-size: 100%;
}

.content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 30px;
}

.result {
    display: flex;
    align-items: flex-start;
    align-self: end;
    flex-direction: column;
    gap: 16px;
}

.result__video-container {
    position: relative;
    width: 711px;
    height: 386px;
}

.result__video {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.search-form {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 40px;
}

.search-form__label {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    text-decoration: underline transparent;
    gap: 5px;
}

.search-form__fieldset {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: none;
    gap: 5px;
    inline-size: 100%;
}

.search-form__fieldset-title {
    font-family: 'Fira Sans Condensed', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
}

.search-form__textfield {
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    padding: 2px 1px;
    color: #ffffff;
    border-top: 1px solid currentColor;
    border-right: none;
    border-bottom: 1px solid currentColor;
    border-left: none;
    background-color: transparent;
    inline-size: 225px;
    appearance: none;
}

.search-form__textfield:active {
    padding: 2px 0;
    border: 1px solid currentColor;
    outline: none;
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #ffffff;
    outline-offset: 1px;
}

.search-form__checkbox-list {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.search-form__pseudo-checkbox {
    width: 19px;
    height: 19px;
    transition: all 0.3s ease;
    border: 1px solid currentColor;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    display: block;
    margin: 1px 0 0 1px;
    content: '';
    background-color: #ffffff;
    inline-size: 15px;
    block-size: 15px;
}

.search-form__label:has(span.search-form__pseudo-checkbox):hover {
    text-decoration: underline;
}

.search-form__submit-button {
    width: 194px;
    height: 34px;
}

.title {
    font-family: Oswald, Arial, sans-serif;
    font-size: 75px;
    font-weight: 700;
    font-style: normal;
    line-height: 94%;
    text-transform: uppercase;
}

.content__details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    gap: 26px;
}

.content__accent {
    color: #545050;
}

.content__list {
    position: relative;
    display: flex;
    overflow-y: scroll;
    align-items: flex-start;
    flex-direction: column;
    block-size: 298px;
}

.content__list-item {
    list-style: none;
}

.content__list-item:not(:last-child) {
    margin-bottom: 30px;
}

.content__list-item:empty {
    display: none;
}

.content__card-link {
    display: block;
    margin: 2px;
    text-decoration: none;
}

.content__card-link:hover {
    text-decoration: underline #ffffff;
}

.content__card-link:active {
    background-color: #545050;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #ffffff;
    outline-offset: 1px;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
    width: 394px;
    padding: 2px;
    gap: 4px;
}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 6px;
}

.content__video-card-title {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
}

.content__video-card-description {
    font-family: 'Fira Sans Condensed', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    color: #ffffff;
}

.content__video-card-thumbnail {
    flex-shrink: 0;
    max-width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center;
}

.content__card-link_current {
    background-color: #545050;
}
