*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    inline-size: 1px;
    block-size: 1px;
    clip-path: inset(50%);
}

.button {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    gap: 10px;
}

.more-button {
    width: 399px;
    height: 34px;
}

.page {
    font-family: 'Fira Sans Condensed', Arial, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 133px 30px;
    color: #ffffff;
    background-color: #1b1919;
    inline-size: 1200px;
    block-size: 100%;
}

.content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
}

.result {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}

.result__video-container {
    position: relative;
    width: 711px;
    height: 386px;
}

.result__video {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.search-form {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    /*width: fit-content;*/
    gap: 10px;
}

.search-form__fieldset {
    display: flex;
    align-items: start;
    flex-direction: column;
    border: none;
    gap: 5px;
}

.search-form__fieldset-title {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.search-form__label {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    gap: 5px;
}

.search-form__label-text {

}

.search-form__textfield {
    display: block;
    width: 225px;
    height: 27px;
    color: #ffffff;
    border: none;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    appearance: none;
}

.search-form__textfield::placeholder {
    color: rgba(255, 255, 255, 0.70);
}

.search-form__textfield:active {
    outline: 1px solid #ffffff;
    background-color: transparent;
}

.search-form__textfield:has(:focus-visible) {
    outline: 1px solid #ffffff;
    background-color: transparent;
}

.search-form__checkbox {
    cursor: pointer;
}

.search-form__pseudo-checkbox {
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    border: 1px solid #ffffff;
}

input[type='checkbox']:checked + span {
    outline: 1px solid #ffffff;
    outline-offset: 1px;
    background-color: #ffffff;
}

input[type='checkbox']:focus-visible + span {
    outline: 1px solid #ffffff;
    outline-offset: 1px;
    background-color: #ffffff;
}

.search-form__submit-button {
    width: 194px;
    height: 34px;
}

.title {
    font-family: Oswald, Arial, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 94%;
    text-transform: uppercase;
    color: #545050;
}

.content__details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    gap: 26px;
}

.content__accent {
    color: #ffffff;
}

.content__list {
    position: relative;
    display: flex;
    overflow: scroll;
    align-items: flex-start;
    flex-direction: column;
    height: 298px;
    gap: 30px;
}

.content__list::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
}

.cards-list-item-template {
}

.content__list-item {
}

.content__card-link {
    text-decoration: none;
}

.content__video-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 394px;
    padding: 2px;
    gap: 4px;
}

.content__video-card:active {
    background: #545050;
}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 6px;
}

.content__video-card-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
}

.content__video-card-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    color: #ffffff;
}

.content__video-card-thumbnail {
    flex-shrink: 0;
    width: 194px;
    height: 103px;
    object-fit: cover;
}

